In [8]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
engine=create_engine('postgresql://ridesdata:pass@localhost:5432/rideshare_db')
conn=engine.connect()

In [10]:
data = pd.read_sql('SELECT * FROM stg_rides',conn)

In [11]:
data.head()

,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,product_id,...,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime,price_missing,price_filled
0,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,lyft_line,...,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000,False,5.0
1,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,lyft_premier,...,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600,False,11.0
2,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,lyft,...,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000,False,7.0
3,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,Haymarket Square,North Station,Lyft,lyft_luxsuv,...,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800,False,26.0
4,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,Haymarket Square,North Station,Lyft,lyft_plus,...,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800,False,9.0

In [12]:
# cab type dimension table
dim_cab_type = data[['cab_type']].drop_duplicates().reset_index(drop=True)
dim_cab_type['cab_type_id'] = dim_cab_type.index + 1
# returning dimesion table cab_type to sql
dim_cab_type.to_sql('dim_cab_type', conn, if_exists='replace', index=False)

2

In [14]:
# dimension table for products
dim_product = data[['product_id', 'name']].drop_duplicates().reset_index(drop=True)
dim_product['product_id_key'] = dim_product.index + 1  # Primary key
dim_product = dim_product[['product_id_key', 'product_id', 'name']]

In [15]:
dim_product.head()

   product_id_key    product_id          name
0               1     lyft_line        Shared
1               2  lyft_premier           Lux
2               3          lyft          Lyft
3               4   lyft_luxsuv  Lux Black XL
4               5     lyft_plus       Lyft XL

In [18]:
#dimension table for Location
sources = data[['source']].rename(columns={'source': 'location'})
destinations = data[['destination']].rename(columns={'destination': 'location'})

dim_location = pd.concat([sources, destinations]).drop_duplicates().reset_index(drop=True)
dim_location['location_id'] = dim_location.index + 1
dim_location = dim_location[['location_id', 'location']]

In [23]:
#dimension table for Date Time 
data['datetime'] = pd.to_datetime(data['timestamp'], unit='s')

dim_datetime = data[['timestamp', 'datetime']].drop_duplicates().reset_index(drop=True)
dim_datetime['date'] = dim_datetime['datetime'].dt.date
dim_datetime['hour'] = dim_datetime['datetime'].dt.hour
dim_datetime['weekday'] = dim_datetime['datetime'].dt.day_name()
dim_datetime['is_weekend'] = dim_datetime['datetime'].dt.dayofweek >= 5
dim_datetime['time_id'] = dim_datetime.index + 1

dim_datetime = dim_datetime[['time_id', 'timestamp', 'date', 'hour', 'weekday', 'is_weekend']]

In [28]:
dim_weather = data[['icon', 'short_summary', 'temperature', 'humidity', 'windSpeed']].drop_duplicates().reset_index(drop=True)
# Add surrogate key
dim_weather['weather_id'] = dim_weather.index + 1
# Reorder columns
dim_weather = dim_weather[['weather_id', 'icon', 'short_summary', 'temperature', 'humidity', 'windSpeed']]

In [29]:
dim_weather.head()

,weather_id,icon,short_summary,temperature,humidity,windSpeed
0,1,partly-cloudy-night,Mostly Cloudy,42.34,0.68,8.66
1,2,rain,Rain,43.58,0.94,11.98
2,3,clear-night,Clear,38.33,0.75,7.33
3,4,clear-night,Clear,34.38,0.73,5.28
4,5,partly-cloudy-night,Partly Cloudy,37.44,0.70,9.14

In [31]:
#dimension of geolocation
dim_geolocation = data[['source', 'latitude', 'longitude']].drop_duplicates()

In [ ]:
# loading all dimension tables to sql-postgres
dim_product.to_sql('dim_product', engine, if_exists='replace', index=False)
dim_location.to_sql('dim_location', engine, if_exists='replace', index=False)
dim_datetime.to_sql('dim_datetime', engine, if_exists='replace', index=False)
dim_weather.to_sql('dim_weather',engine,if_exists='replace', index=False)
dim_geolocation.to_sql('dim_geolocation',engine,if_exists='replace',index=False)

In [34]:
#Fact_table creation using all dimension tables
product_map = dict(zip(zip(dim_product['product_id'], dim_product['name']), dim_product['product_id_key']))
data['product_id_key'] = list(zip(data['product_id'], data['name']))
data['product_id_key'] = data['product_id_key'].map(product_map)

location_map = dict(zip(dim_location['location'], dim_location['location_id']))
data['source_id'] = data['source'].map(location_map)
data['destination_id'] = data['destination'].map(location_map)

time_map = dict(zip(dim_datetime['timestamp'], dim_datetime['time_id']))
data['time_id'] = data['timestamp'].map(time_map)

weather_cols = ['icon', 'short_summary', 'temperature', 'humidity', 'windSpeed']

weather_keys = dim_weather[weather_cols].apply(lambda row: tuple(row), axis=1)
weather_map = dict(zip(weather_keys, dim_weather['weather_id']))

df_weather_keys = data[weather_cols].apply(lambda row: tuple(row), axis=1)
data['weather_id'] = df_weather_keys.map(weather_map)

In [36]:
# fact_tables
fact_rides = data[['product_id_key', 'source_id', 'destination_id', 'time_id', 'weather_id',
                 'price', 'distance', 'surge_multiplier', 'price_missing']]

In [37]:
fact_rides.to_sql('fact_rides',engine,if_exists='replace',index=False)

71

In [54]:
#exporting all Dimension tables to CSV
dim_product.to_csv('dim_product.csv', index=False)
dim_location.to_csv('dim_location.csv', index=False)
dim_datetime.to_csv('dim_datetime.csv', index=False)
dim_weather.to_csv('dim_weather.csv', index=False)
dim_geolocation.to_csv('dim_geolocation.csv', index=False)
dim_cab_type.to_csv('dim_cab_type.csv', index=False)

In [53]:
fact_rides.to_csv('fact_rides.csv',index=False)